*.json
/python-courses/100-days-of-code/__pycache__
*.pyc
python-courses/100-days-of-code/day-24/mail merge project/Input/.DS_Store
python-courses/100-days-of-code/day-24/mail merge project/.DS_Store
